<div class="media-player">
  <h2 class="playlist-title">P l a y  =>  l i s t</h2>
  <ul class="music-list">
    <li *ngFor="let music of playlist; let i = index"
        (click)="playMusic(i)"
        [class.active]="i === currentIndex"> 
      {{ music.name }}
      <hr>
    </li>
  </ul>

  <div class="audio-container" *ngIf="currentMusic">
    <audio
      #audio
      [src]="currentMusic?.src" 
      (ended)="nextMusic()"
      controls>
    </audio>
    <p class="control-button" (click)="previousMusic()">⏮</p>
    <p class="control-button" (click)="nextMusic()">⏭</p>
  </div>
</div>
