<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <img width="300" alt="EICM Logo" src="./assets/img/logo.png">
  </div>

  <div class="music-player">
      <app-upload-music (musicaSelecionada)="adicionarNaPlaylist($event)"></app-upload-music>
      <app-media-player
          [playlist]="playlist"
          (limparSolicitado)="limparPlaylistNoPai()">
     </app-media-player>

  </div>
</div>

